server:
  prometheusSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: ""  
          resources:
            requests:
              storage: 1Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: ""
          resources:
            requests:
              storage: 512Mi
