version: '3.8'

services:
  web:
    build:
      context: ../backend-source/app
      dockerfile: Dockerfile
    container_name: node_app
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ../backend-source/app/.env
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=app_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../backend-source/db/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:
