apiVersion: v1
kind: Service
metadata:
  name: node-service
spec:
  selector:
    app: node-app
  type: "{{ .Values.service.type }}"
  ports:
    - port: "{{ .Values.service.port }}"
      targetPort: 8000
